tasks.phpserialize
tasks.json
logs/
class/gittrigger.class.php
class/.time
config/gittrigger.conf.php
class/log_gittrigger.class.php
htdocs/gittrigger.php
config.php
index.php
triggerData/*
/htdocs/*
index_2.php
script/gitreminder.sh
script/gitreminder_new.sh
